@{
    ViewData["Title"] = "Contact Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="contact">
    <p>Email: AdamTitus76@gmail.com</p>
    <p>Linkedin: <a href="https://www.linkedin.com/in/adam-titus/">https://www.linkedin.com/in/adam-titus/</a></p>
    <p>Github: <a href="https://github.com/TheBigTaco">https://github.com/TheBigTaco</a></p>
</div>
