@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="my-stuff">
<img class="me" src="/images/me.jpg">
    <h1>Hi, my names Adam Titus, and I'm a fullstack web developer.</h1>
    <p>Work Experience: Epicodus</p>
    <p>Education: Epicodus, Montana State University</p>
    <p>My Story: I got into development at a young age wanting to make video games. As I got older I fell in love with the logic puzzle aspect of coding, and slowly grew to enjoy development in all it's forms.</p>
</div>