@model List<Portfolio.Models.Repository>

@{
    ViewData["Title"] = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="projects">
    <p>Current top starred projects</p>

    @foreach (var project in Model)
    {
        <a href="@project.Html_Url"><p>@Html.DisplayFor(modelItem => project.Name)</p></a>
    }
</div>