@model Portfolio.Models.Post

<h1>Add Post</h1>

@using (Html.BeginForm(FormMethod.Post))
{
    <p>
        @Html.LabelFor(model => model.Title)
        @Html.TextBoxFor(model => model.Title)
    </p>
    <p>
        @Html.LabelFor(model => model.Content)
        @Html.TextAreaFor(model => model.Content, 40, 100, null)
    </p>

    <input type="submit" value="Add Post" />
}
